<!DOCTYPE html>
<html>
    <head>
        <title>Project4</title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <h2> Ruby on Rails </h2>
        <i> by Ariel Di Segni and Ariel Krakowski </i>
        <p>Project 4</p>
        <%= yield %>
    </body>
    <head>
        <title>Project4</title>
        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <h2> Ruby on Rails </h2>
        <i> by Ariel Di Segni and Ariel Krakowski </i>
        <p>Project 4</p>
        <%= yield %>
    </body>
</html>